<div class=" py-20  ">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 rounded-2xl py-6 bg-gray-100 ">
        <div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none ">
            <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
                <div>
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900">Get in touch</h2>
                    <p class="mt-4 leading-7 text-gray-600">Quam nunc nunc eu sed. Sed rhoncus quis ultricies ac
                        pellentesque.</p>
                </div>
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div
                                class="flip-card-front rounded-2xl bg-gray-50 p-10 flex items-center justify-center flex-col">
                                <h3 class=" leading-7 text-gray-500 font-bentham text-3xl ">Email</h3>
                                <div class="border-t border-gray-300 w-full mt-4"></div>

                            </div>

                            <div class="flip-card-back rounded-2xl bg-gray-50 p-10 flex items-center justify-center">
                                <div class="mt-1 ">
                                    <dt class="sr-only">Phone number</dt>
                                    <dd><a class="leading-7 text-gray-500 font-roboto text-2xl"
                                            href="mailto:taimoorsajjad980@gmail.com">taimoorsajjad980@gmail.com</a></dd>
                                    <div class="border-t border-gray-300 w-full mt-4"></div>


                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="rounded-2xl bg-gray-50 p-10">
                        <h3 class="text-base font-semibold leading-7 text-gray-900">Press</h3>
                        <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
                            <div>
                                <dt class="sr-only">Email</dt>
                                <dd><a class="font-semibold text-indigo-600"
                                        href="mailto:press@example.com">press@example.com</a></dd>
                            </div>
                            <div class="mt-1">
                                <dt class="sr-only">Phone number</dt>
                                <dd>+1 (555) 905-3456</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="rounded-2xl bg-gray-50 p-10">
                        <h3 class="text-base font-semibold leading-7 text-gray-900">Join our team</h3>
                        <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
                            <div>
                                <dt class="sr-only">Email</dt>
                                <dd><a class="font-semibold text-indigo-600"
                                        href="mailto:careers@example.com">careers@example.com</a></dd>
                            </div>
                            <div class="mt-1">
                                <dt class="sr-only">Phone number</dt>
                                <dd>+1 (555) 905-4567</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="rounded-2xl bg-gray-50 p-10">
                        <h3 class="text-base font-semibold leading-7 text-gray-900">Say hello</h3>
                        <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
                            <div>
                                <dt class="sr-only">Email</dt>
                                <dd><a class="font-semibold text-indigo-600"
                                        href="mailto:hello@example.com">hello@example.com</a></dd>
                            </div>
                            <div class="mt-1">
                                <dt class="sr-only">Phone number</dt>
                                <dd>+1 (555) 905-5678</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>