<section class="pt-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="bg-white rounded-2xl p-4 sm:p-8 md:p-12">
            <dl class="grid lg:grid-cols-2 items-center gap-12">
                <div class="flex flex-col">
                    <h2 class="font-roboto text-4xl tracking-tight text-gray-900 sm:text-5xl font-bold">
                        "Empower, Engage, Code -
                        It's All
                        About
                        Getting in Touch!"</h2>
                    <!-- <div class="mt-12"><button
                            class="group inline-flex items-center justify-center rounded-lg py-2 sm:py-3 px-4 text-sm font-medium focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-gray-900 text-white hover:bg-gray-700 hover:text-gray-100 active:bg-gray-800 active:text-gray-300 focus-visible:outline-gray-900">Contact
                            Me ~ it&#x27;s free</button></div> -->
                </div>
                <div class="flex flex-col">
                    <div class="grid sm:grid-cols-2 gap-6">
                        <div class="flip-card rounded-2xl h-[160px] mb-2 sm:m-0 border p-10 ">
                            <div class="flip-card-inner ">
                                <div class="flip-card-front rounded-2xl p-10 flex items-center justify-center flex-col">
                                    <h3 class=" leading-7 text-gray-500 font-bentham text-3xl ">Email</h3>
                                    <div class="border-t border-gray-300 w-full mt-4"></div>

                                </div>

                                <div class="flip-card-back rounded-2xl p-10 flex items-center justify-center">
                                    <div class="mt-1 ">
                                        <dt class="sr-only">Phone number</dt>
                                        <dd><a class="leading-7 text-gray-500 font-roboto text-xl"
                                                href="mailto:taimoorsajjad980@gmail.com">taimoorsajjad980@gmail.com</a>
                                        </dd>
                                        <div class="border-t border-gray-300 w-full mt-4"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Phone Number -->
                        <div class="flip-card rounded-2xl h-[160px] mb-2 sm:m-0 border  p-10 min-h-28">
                            <div class="flip-card-inner">
                                <div class="flip-card-front rounded-2xl p-10 flex items-center justify-center flex-col">
                                    <h3 class=" leading-7 text-gray-500 font-bentham text-3xl ">Phone Number</h3>
                                    <div class="border-t border-gray-300 w-full mt-4"></div>

                                </div>

                                <div class="flip-card-back rounded-2xl  p-10 flex items-center justify-center">
                                    <div class="mt-1 ">
                                        <dt class="sr-only">Phone number</dt>
                                        <dd><a class="leading-7 text-gray-500 font-roboto text-xl"
                                                href="tel:+923244315755">+923244315755</a>
                                        </dd>
                                        <div class="border-t border-gray-300 w-full mt-4"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </dl>
        </div>
    </div>
</section>
<section class="pt-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="bg-white rounded-2xl p-4 sm:p-8 md:p-12 lg:p-16 grid md:grid-cols-2  gap-12">
            <div class="flex flex-col align-top">
                <h2 class="font-roboto text-6xl tracking-tight text-gray-900 sm:text-6xl font-bold">
                    Have a Project ?</h2>
                <div class="mt-6">
                    <p class=" text-2xl text-gray-900 font-roboto ">Reach out to discuss your next project with me.</p>

                </div>
            </div>


            <div class="flex flex-col">
                <div class="">
                    <form class="grid grid-cols-2 gap-6 sm:grid-cols-1" [formGroup]="contactForm">
                        <div><label for="name" class="block text-sm font-semibold leading-6 text-gray-900">Name</label>
                            <div class="mt-2.5"><input type="text" name="name" id="name" formControlName="name" /></div>
                            <div *ngIf="form['name'].errors && isSubmit">
                                <div *ngIf="form['name'].errors['required']" class="">
                                    <p class="mt-2 text-xs text-red-500">
                                        Name is required
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div><label for="phoneNumber" class="block text-sm font-semibold leading-6 text-gray-900">Phone
                                Number</label>
                            <div class="mt-2.5"><input type="text" name="phoneNumber" id="phoneNumber"
                                    formControlName="phone" /></div>
                            <div *ngIf="form['phone'].errors && isSubmit">
                                <div *ngIf="form['phone'].errors['required']" class="">
                                    <p class="mt-2 text-xs text-red-500">
                                        Phone Number is required
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div><label for="email" class="block text-sm font-semibold leading-6 text-gray-900">Email
                                Address</label>
                            <div class="mt-2.5"><input type="text" name="email" id="email" formControlName="email" />
                            </div>
                            <div *ngIf="form['email'].errors && isSubmit">
                                <div *ngIf="form['email'].errors['required']" class="">
                                    <p class="mt-2 text-xs text-red-500">
                                        Email is required
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div><label for="budget"
                                class="block text-sm font-semibold leading-6 text-gray-900">Budget</label>
                            <div class="mt-2.5"><select name="budget" id="budget" formControlName="budget">
                                    <option value="$500-$2000">$500-$2000</option>
                                    <option value="$2000-$4000">$2000-$4000</option>
                                    <option value="$4000-$6000">$4000-$6000</option>
                                    <option value="$6000+">$6000+</option>
                                </select></div>
                            <div *ngIf="form['budget'].errors && isSubmit">
                                <div *ngIf="form['budget'].errors['required']" class="">
                                    <p class="mt-2 text-xs text-red-500">
                                        Budget is required
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div><label for="aboutProject" class="block text-sm font-semibold leading-6 text-gray-900">Tell
                                me about the
                                project?</label>
                            <div class="mt-2.5"><textarea class="h-32" name="aboutProject" id="aboutProject"
                                    formControlName="projectDetails"></textarea>
                            </div>
                            <div *ngIf="form['projectDetails'].errors && isSubmit">
                                <div *ngIf="form['projectDetails'].errors['required']" class="">
                                    <p class="mt-2 text-xs text-red-500">
                                        Project Details is required
                                    </p>
                                </div>
                            </div>
                        </div><button (click)="onSubmit()"
                            class="group inline-flex items-center justify-center rounded-lg py-2 sm:py-3 px-4 text-sm font-medium focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-gray-900 text-white hover:bg-gray-700 hover:text-gray-100 active:bg-gray-800 active:text-gray-300 focus-visible:outline-gray-900 w-full">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>