<div class=" py-20  ">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 rounded-2xl py-6 bg-gray-100 ">
        <div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none ">
            <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-2">
                <div>
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900">Get in touch</h2>

                </div>

                <div class="">
                    <div class="gap-y-4 sm:grid grid-cols-2 sm:gap-4">
                        <!-- Email -->
                        <div class="flip-card rounded-2xl h-[160px] mb-2 sm:m-0 border  p-10 min-h-28">
                            <div class="flip-card-inner">
                                <div class="flip-card-front rounded-2xl p-10 flex items-center justify-center flex-col">
                                    <h3 class=" leading-7 text-gray-500 font-bentham text-3xl ">Email</h3>
                                    <div class="border-t border-gray-300 w-full mt-4"></div>

                                </div>

                                <div class="flip-card-back rounded-2xl  p-10 flex items-center justify-center">
                                    <div class="mt-1 ">
                                        <dt class="sr-only">Phone number</dt>
                                        <dd><a class="leading-7 text-gray-500 font-roboto text-xl"
                                                href="mailto:taimoorsajjad980@gmail.com">taimoorsajjad980@gmail.com</a>
                                        </dd>
                                        <div class="border-t border-gray-300 w-full mt-4"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Phone Number -->
                        <div class="flip-card rounded-2xl h-[160px] mb-2 sm:m-0 border  p-10 min-h-28">
                            <div class="flip-card-inner">
                                <div class="flip-card-front rounded-2xl p-10 flex items-center justify-center flex-col">
                                    <h3 class=" leading-7 text-gray-500 font-bentham text-3xl ">Phone Number</h3>
                                    <div class="border-t border-gray-300 w-full mt-4"></div>

                                </div>

                                <div class="flip-card-back rounded-2xl  p-10 flex items-center justify-center">
                                    <div class="mt-1 ">
                                        <dt class="sr-only">Phone number</dt>
                                        <dd><a class="leading-7 text-gray-500 font-roboto text-xl"
                                                href="tel:+923244315755">+923244315755</a>
                                        </dd>
                                        <div class="border-t border-gray-300 w-full mt-4"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card rounded-2xl h-[160px] mb-2 sm:m-0 border  p-10 min-h-28">
                            <div class="flip-card-inner">
                                <div class="flip-card-front rounded-2xl p-10 flex items-center justify-center flex-col">
                                    <h3 class=" leading-7 text-gray-500 font-bentham text-3xl ">Email</h3>
                                    <div class="border-t border-gray-300 w-full mt-4"></div>

                                </div>

                                <div class="flip-card-back rounded-2xl  p-10 flex items-center justify-center">
                                    <div class="mt-1 ">
                                        <dt class="sr-only">Phone number</dt>
                                        <dd><a class="leading-7 text-gray-500 font-roboto text-xl"
                                                href="mailto:taimoorsajjad980@gmail.com">taimoorsajjad980@gmail.com</a>
                                        </dd>
                                        <div class="border-t border-gray-300 w-full mt-4"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card rounded-2xl h-[160px] mb-2 sm:m-0 border  p-10 min-h-28">
                            <div class="flip-card-inner">
                                <div class="flip-card-front rounded-2xl p-10 flex items-center justify-center flex-col">
                                    <h3 class=" leading-7 text-gray-500 font-bentham text-3xl ">Email</h3>
                                    <div class="border-t border-gray-300 w-full mt-4"></div>

                                </div>

                                <div class="flip-card-back rounded-2xl  p-10 flex items-center justify-center">
                                    <div class="mt-1 ">
                                        <dt class="sr-only">Phone number</dt>
                                        <dd><a class="leading-7 text-gray-500 font-roboto text-xl"
                                                href="mailto:taimoorsajjad980@gmail.com">taimoorsajjad980@gmail.com</a>
                                        </dd>
                                        <div class="border-t border-gray-300 w-full mt-4"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>