<footer class=" py-12">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div>
            <div class="bg-white rounded-2xl px-4 py-10 border">
                <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-8 items-center">
                    <!-- <div class="sm:col-span-2 lg:col-span-1"><a aria-label="Home" href="/"><img loading="lazy"
                                width="100" height="100" decoding="async" data-nimg="1" class="h-12 w-auto"
                                style="color:transparent"
                                srcSet="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.2b7576aa.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.2b7576aa.png&amp;w=256&amp;q=75 2x"
                                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.2b7576aa.png&amp;w=256&amp;q=75" /></a>
                    </div> -->
                    <dl class="flex flex-col lg:col-span-2  lg:justify-center lg:mx-auto">
                        <dt class="text-base text-zinc-600">Follow me on</dt>
                        <dd class="flex flex-wrap items-center gap-4">
                            <div class="hover:underline hover:decoration-wavy font-medium">
                                <a href="https://github.com/1TaimoorSajjad" target="_blank">GitHub</a>
                            </div>
                            <div class="hover:underline hover:decoration-wavy font-medium">
                                <a href="https://stackoverflow.com/users/22749811/taimoor"
                                    target="_blank">StackOverFlow</a>
                            </div>
                            <div class="hover:underline hover:decoration-wavy font-medium">
                                <a href="https://www.linkedin.com/in/taimoor-sajjad-4008301b1/"
                                    target="_blank">Linkedin</a>
                            </div>
                        </dd>
                    </dl>
                    <dl class="flex flex-col">
                        <dt class="text-base text-zinc-600">Work with me</dt>
                        <dd class="text-base text-zinc-900 hover:underline hover:decoration-wavy font-medium">
                            <a href="mailto:taimoorsajjad980@gmail.com">taimoorsajjad980@gmail.com</a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="text-base text-zinc-600 text-center mt-12">Copyright ©
                <!-- -->2023<!-- --> Taimoor Sajjad
            </div>
        </div>
    </div>
</footer>