<section class="pt-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="bg-white rounded-2xl p-4 sm:p-8 md:p-12">
            <dl class="grid lg:grid-cols-2 items-center gap-12">
                <div class="flex flex-col">
                    <h2 class="font-display text-3xl tracking-tight text-zinc-900 sm:text-4xl font-medium">
                        Achievements and Adventures</h2>
                    <p class="text-base text-zinc-600 mt-6">When you go on a path of development, each milestone
                        becomes an initial step toward greater accomplishment. Here&#x27;s a look at the numbers
                        that have shaped my experience as a front-end developer.</p>
                    <div class="mt-12"><button routerLink="/contact"
                            class="group inline-flex items-center justify-center rounded-lg py-2 sm:py-3 px-4 text-sm font-medium focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900">Contact
                            Me ~ it&#x27;s free</button></div>
                </div>
                <div class="flex flex-col">
                    <div class="grid sm:grid-cols-2 gap-6">
                        <div class="flex flex-col gap-1 sm:py-6">
                            <dt class="font-display text-3xl tracking-tight text-zinc-900 sm:text-5xl">10+</dt>
                            <dd class="text-sm font-medium text-zinc-600 uppercase">Projects Completed</dd>
                        </div>
                        <div class="flex flex-col gap-1 sm:py-6">
                            <dt class="font-display text-3xl tracking-tight text-zinc-900 sm:text-5xl">5+</dt>
                            <dd class="text-sm font-medium text-zinc-600 uppercase">Satisfied Clients</dd>
                        </div>
                        <div class="flex flex-col gap-1 sm:py-6">
                            <dt class="font-display text-3xl tracking-tight text-zinc-900 sm:text-5xl">7+</dt>
                            <dd class="text-sm font-medium text-zinc-600 uppercase">Websites Optimized</dd>
                        </div>
                        <div class="flex flex-col gap-1 sm:py-6">
                            <dt class="font-display text-3xl tracking-tight text-zinc-900 sm:text-5xl">10,000+
                            </dt>
                            <dd class="text-sm font-medium text-zinc-600 uppercase">Lines of Code Crafted</dd>
                        </div>
                    </div>
                </div>
            </dl>
        </div>
    </div>
</section>
<section class="pt-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="bg-white rounded-2xl p-4 sm:p-8 md:p-12 grid md:grid-cols-3 items-center gap-6">
                <div class="flex flex-col col-span-2">
                    <h3 class="font-display text-3xl tracking-tight text-zinc-900 sm:text-4xl font-medium">
                        Recent Projects</h3>
                    <p class="text-base text-zinc-600 mt-6">Discover my most recent web initiatives, where
                        innovation meets design to create unique digital experiences.</p>
                </div>
                <div class="grid place-content-center"><a
                        class="group inline-flex items-center justify-center rounded-lg py-2 sm:py-3 px-4 text-sm font-medium focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900 flex-shrink-0"
                        href="/projects">See All Projects</a></div>
            </div>
    </div>
</section>

<section class="py-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="bg-white rounded-2xl p-4 sm:p-8 md:p-12">
            <div class="grid lg:grid-cols-3 gap-12">
                <div class="flex flex-col">
                    <h3 class="font-display text-3xl tracking-tight text-zinc-900 sm:text-4xl font-medium">
                        Explore My Services</h3>
                    <p class="text-base text-zinc-600 mt-6">Are you ready to take your digital presence to new
                        heights? Welcome to my world of comprehensive portfolio services designed to transform
                        your online landscape and captivate your audience like never before.</p>
                </div>
                <div class="bg-[#f7f7f8] rounded-2xl col-span-2 overflow-hidden">
                    <div class="swiper mySwiper w-full relative">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide relative">
                                <div class="absolute  top-4 right-8"><svg xmlns="http://www.w3.org/2000/svg"
                                        class="h-20 w-20 opacity-50" fill="none" viewBox="0 0 24 24">
                                        <path stroke="#1C274C" stroke-linecap="round" stroke-width="1.5"
                                            d="m17 7.83 1.697 1.526c1.542 1.389 2.313 2.083 2.313 2.974 0 .89-.771 1.585-2.314 2.973L17 16.83">
                                        </path>
                                        <path stroke="#1C274C" stroke-linecap="round" stroke-width="1.5"
                                            d="m13.987 5-3.974 14.83" opacity=".5"></path>
                                        <path stroke="#1C274C" stroke-linecap="round" stroke-width="1.5"
                                            d="M7 7.83 5.304 9.356C3.76 10.745 2.99 11.44 2.99 12.33c0 .89.771 1.585 2.314 2.973L7 16.83">
                                        </path>
                                    </svg></div>
                                <div class="relative flex flex-col p-6 sm:p-8 lg:p-12">
                                    <h5 class="text-2xl font-medium text-zinc-900">Web Development</h5>
                                    <p class="mt-6 text-zinc-600 text-base">Transform your digital dreams into
                                        reality with websites that combine stunning visuals and seamless user
                                        experiences.</p>
                                    <ul class="flex flex-col gap-4 mt-6">
                                        <li>
                                            <dl class="flex items-center gap-2">
                                                <dt><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        fill="currentColor" aria-hidden="true" class="h-5 w-5">
                                                        <path fill-rule="evenodd"
                                                            d="M3.75 12a.75.75 0 01.75-.75h13.19l-5.47-5.47a.75.75 0 011.06-1.06l6.75 6.75a.75.75 0 010 1.06l-6.75 6.75a.75.75 0 11-1.06-1.06l5.47-5.47H4.5a.75.75 0 01-.75-.75z"
                                                            clip-rule="evenodd"></path>
                                                    </svg></dt>
                                                <dd class="text-sm text-zinc-600">Designs that are responsive to
                                                    any device.</dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl class="flex items-center gap-2">
                                                <dt><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        fill="currentColor" aria-hidden="true" class="h-5 w-5">
                                                        <path fill-rule="evenodd"
                                                            d="M3.75 12a.75.75 0 01.75-.75h13.19l-5.47-5.47a.75.75 0 011.06-1.06l6.75 6.75a.75.75 0 010 1.06l-6.75 6.75a.75.75 0 11-1.06-1.06l5.47-5.47H4.5a.75.75 0 01-.75-.75z"
                                                            clip-rule="evenodd"></path>
                                                    </svg></dt>
                                                <dd class="text-sm text-zinc-600">Integration of modern
                                                    technologies like Next.js for enhanced performance.</dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl class="flex items-center gap-2">
                                                <dt><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        fill="currentColor" aria-hidden="true" class="h-5 w-5">
                                                        <path fill-rule="evenodd"
                                                            d="M3.75 12a.75.75 0 01.75-.75h13.19l-5.47-5.47a.75.75 0 011.06-1.06l6.75 6.75a.75.75 0 010 1.06l-6.75 6.75a.75.75 0 11-1.06-1.06l5.47-5.47H4.5a.75.75 0 01-.75-.75z"
                                                            clip-rule="evenodd"></path>
                                                    </svg></dt>
                                                <dd class="text-sm text-zinc-600">Creating dynamic interfaces
                                                    with appealing animations.</dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl class="flex items-center gap-2">
                                                <dt><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        fill="currentColor" aria-hidden="true" class="h-5 w-5">
                                                        <path fill-rule="evenodd"
                                                            d="M3.75 12a.75.75 0 01.75-.75h13.19l-5.47-5.47a.75.75 0 011.06-1.06l6.75 6.75a.75.75 0 010 1.06l-6.75 6.75a.75.75 0 11-1.06-1.06l5.47-5.47H4.5a.75.75 0 01-.75-.75z"
                                                            clip-rule="evenodd"></path>
                                                    </svg></dt>
                                                <dd class="text-sm text-zinc-600">Creating corporate sites that
                                                    reflect professionalism and branding.</dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl class="flex items-center gap-2">
                                                <dt><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        fill="currentColor" aria-hidden="true" class="h-5 w-5">
                                                        <path fill-rule="evenodd"
                                                            d="M3.75 12a.75.75 0 01.75-.75h13.19l-5.47-5.47a.75.75 0 011.06-1.06l6.75 6.75a.75.75 0 010 1.06l-6.75 6.75a.75.75 0 11-1.06-1.06l5.47-5.47H4.5a.75.75 0 01-.75-.75z"
                                                            clip-rule="evenodd"></path>
                                                    </svg></dt>
                                                <dd class="text-sm text-zinc-600">Optimizing e-commerce
                                                    platforms for online success.</dd>
                                            </dl>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                         
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>