<header class="py-6 sticky top-0 inset-x-0 z-50  ">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <nav class="relative flex justify-between items-center bg-white p-4 rounded-2xl border gap-x-6">
            <div class="font-rock-salt text-2xl font-extrabold">TS</div>
            <div class="hidden lg:flex lg:gap-x-4"><a
                    class="inline-block rounded-lg px-2 font-medium leading-5 py-1.5 text-sm text-gray-700 hover:text-gray-900"
                    routerLink="">Home</a><a
                    class="inline-block rounded-lg px-2 font-medium leading-5 py-1.5 text-sm  text-gray-700  hover:text-gray-900"
                    href="/about">About</a><a
                    class="inline-block rounded-lg px-2 font-medium leading-5 py-1.5 text-sm  text-gray-700  hover:text-gray-900"
                    href="/projects">Projects</a>
                <!-- <a class="inline-block rounded-lg px-2 font-medium leading-5 py-1.5 text-sm  text-gray-700  hover:text-gray-900" 
                    href="/store">Store</a> -->
                <a class="inline-block rounded-lg px-2 font-medium leading-5 py-1.5 text-sm  text-gray-700  hover:text-gray-900"
                    href="/blogs">Blogs</a>
            </div>
            <div class="flex items-center gap-x-5 lg:gap-x-8">
                <div>
                    <button type="button" routerLink="/contact"
                        class="rounded-lg  btn-primary px-5 py-4 text-sm font-semibold text-gray-50 shadow-sm ">Contact
                        me</button>

                </div>
            </div>
        </nav>
    </div>
</header>