<!-- <section class="pt-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="bg-white rounded-2xl p-4 sm:p-8 md:p-12">
            <dl class="grid lg:grid-cols-1 items-center gap-12">
                <div class="flex justify-center">
                    <h2 class="font-display text-3xl tracking-tight text-zinc-900 sm:text-4xl font-medium">
                        Coming Soon.....</h2>

                </div>

            </dl>
        </div>
    </div>
</section> -->


<section class="py-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col gap-8">
            <div class="flex flex-col gap-8">
                <div class="bg-white rounded-2xl p-4 sm:p-8 md:p-12 flex flex-col gap-8">
                    <div class="flex justify-between items-start gap-8">
                        <div class="flex flex-col">
                            <h3 class="font-display text-3xl tracking-tight text-zinc-900 sm:text-4xl font-medium">
                                NEMT Platform</h3>
                            <p class="text-base text-zinc-600">NEMT Platform is an all-in-one dispatch software
                                solution. We have you covered with everything from real-time scheduling to a
                                variety of features.</p>
                        </div>
                        <div class="mt-4"><a
                                class="group inline-flex ring-1 items-center justify-center rounded-lg py-2 sm:py-3 px-4 text-sm font-medium focus:outline-none ring-zinc-200 text-zinc-700 hover:text-zinc-900 hover:ring-zinc-300 hover:bg-zinc-100 active:bg-zinc-100 active:text-zinc-600 focus-visible:outline-blue-600 focus-visible:ring-zinc-300 h-14 w-14"
                                target="_blank" style="border-radius:9999px" href="https://nemtplatform.com/"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    class="w-6 h-6">
                                    <path fill-rule="evenodd"
                                        d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                        clip-rule="evenodd"></path>
                                </svg></a></div>
                    </div>
                    <div class="grid lg:grid-cols-3 gap-8">
                        <div class="p-6 sm:p-8 bg-[#f7f7f8] rounded-xl lg:col-span-2 grid place-content-center">
                            <img alt="NEMT Platform" loading="lazy" width="1080" height="1080" decoding="async"
                                data-nimg="1"
                                class="border-2 border-white rounded-lg shadow-2xl aspect-auto min-h-[14rem] max-h-[400px] overflow-hidden w-full"
                                style="color:transparent"
                                srcSet=""
                                src="assets/nemtplatform.png" />
                        </div>
                        <div class="flex flex-col h-full justify-between gap-8 lg:py-4">
                            <div class="flex flex-col">
                                <h5 class="text-2xl font-medium text-zinc-900">Crafting a Functional NEMT
                                    Platform with Tailwind CSS and Angular Magic</h5>
                                <p class="text-zinc-600 text-sm mt-6">Using Tailwind CSS and Angular, I created
                                    a unique NEMT platform website. This website is not only appealing; it is
                                    also functional. I&#x27;ve also made it simple to find on search engines.
                                </p>
                                <div class="mt-6 flex flex-wrap gap-2"><span
                                        class="inline-flex items-center rounded-md bg-zinc-100 px-3 py-1.5 text-xs font-medium text-zinc-600">Front-End
                                        Wizard</span><span
                                        class="inline-flex items-center rounded-md bg-zinc-100 px-3 py-1.5 text-xs font-medium text-zinc-600">Creative
                                        Strategist</span><span
                                        class="inline-flex items-center rounded-md bg-zinc-100 px-3 py-1.5 text-xs font-medium text-zinc-600">SEO</span><span
                                        class="inline-flex items-center rounded-md bg-zinc-100 px-3 py-1.5 text-xs font-medium text-zinc-600">Responsive
                                        Design</span><span
                                        class="inline-flex items-center rounded-md bg-zinc-100 px-3 py-1.5 text-xs font-medium text-zinc-600">Project
                                        Management</span></div>
                            </div>
                            <div>
                                <figure class="rounded-2xl text-sm leading-6">
                                    <figcaption class="mt-6 flex items-center gap-x-4">
                                        <div></div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8"><a href="/contact">
            <div
                class="cursor-pointer rounded-2xl sm:rounded-full flex flex-col sm:flex-row justify-between gap-6 bg-[#000000] text-center sm:text-left p-4 sm:pl-[10%] items-center">
                <h2 class="font-display text-4xl font-medium tracking-tight text-white lg:text-6xl">You have
                    a project?</h2>
                <div
                    class="w-full  sm:h-28 sm:w-28 lg:w-40 lg:h-40 rounded-lg sm:rounded-full bg-white  flex flex-shrink-0 items-center justify-center py-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                        class="h-8 w-8 sm:h-16 sm:w-16 text-zinc-900">
                        <path fill-rule="evenodd"
                            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
            </div>
        </a></div>
</section>